.s-hero {
  .container {
    display: flex;
    align-items: center;
  }
  @include responsive(1200px) {
  }
  @include responsive(991px) {
  }
  @include responsive(768px) {
  }
  @include responsive(600px) {
  }
  @include responsive(480px) {
    .container {
      flex-direction: column;
    }
    .text {
      p {
        color: white;
      }
    }
  }
}
